body
{
    display: flex;
    font-size: 20px;
    
}


.picture
{
    display: flex;
    flex-direction: row;
    height: 300px;
    /* background-color:rgba(37, 8, 80, 0.3) ; */
    margin: 12px;
}

.picture img{
    display: block;
    height: 280px;
    width: 250px;
    margin: 7px;
    
}


.description
{
   
    font-size: 20px;
    text-align: left;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
    overflow: scroll;
}

@media screen and (max-width:768px) {

    .picture
{
    display: flex;
    flex-direction: column;
    height: 400px;}


    .description
{
   
    font-size: 20px;
    text-align: left;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
    overflow: scroll;
}

.picture img{
    display: block;
    height: 280px;
    width: 250px;
    margin: 7px;
    
}


}